.toolbar {
    
    position: absolute;
    z-index: 6;
    width: 100vw;
    height: 3rem;
    padding-top: 1rem;
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 90%);
    //background-color: rgba(0, 0, 0, 0.226);
    //padding: 10px;
    display: flex;
    justify-content: flex-end;
    a{  
        text-decoration: none;
        font-family: "PT Sans";
        font-size: 22px;
        font-weight: 200;
        color: rgb(219, 219, 219);
        padding: 5px;
        margin-right: 4rem;
        border-bottom: 1px solid rgb(219, 219, 219);
        position: relative;
        user-select: none;
        transition: color 0.2s ease-out, border-bottom 0.3s ease-out;
        &:hover{
            color: #830000;
            border-bottom: 1px solid #830000;
            transition: color 0.4s ease-out, border-bottom 0.3s ease-out;
            cursor: pointer;


        }
    }
}