<div class="background-video-container">
    <video autoplay loop [muted]="'muted'">
      <source src="../assets/bckg_vid.mp4" type="video/mp4"/>
    </video>
  </div>
  <div class="background">
  
  <toolbar/>
  
  <div class="content" role="main">
  
    <app-logo [transform]="'scale(0.8)'" class="Logo"/>
    
    <div class="video-frame">
      <!-- <iframe src=""> </iframe> -->
      <!-- <p>action is coming...</p> -->
      <img class="album-cover" src="../assets/album-cover.jpg"/>
      
    </div>
  
  
    <footer>
    <a>
      <svg-icon class="socials" [icon]="'youtubemusic'"/>
    </a>
    <a>
      <svg-icon class="socials" [icon]="'youtube'"/>
    </a>
    <a>
      <svg-icon class="socials" [icon]="'spotify'"/>
    </a>
    <a>
      <svg-icon class="socials" [icon]="'bandcamp'"/>
    </a>
    <a target="_blank" href="https://www.facebook.com/profile.php?id=100090489221986">
      <svg-icon class="socials" [icon]="'facebook'"/>
    </a>
    <a target="_blank" href="https://www.instagram.com/weirwoodofficial/">
      <svg-icon class="socials" [icon]="'instagram'"/>
    </a>
    <a target="_blank"href="https://twitter.com/weirwood_band">
      <svg-icon class="socials" [icon]="'twitter'"/>
    </a>
    <a>
      <svg-icon class="socials" [icon]="'mastodon'"/>
    </a>
    <a>
      <svg-icon class="socials" [icon]="'matrix'"/>
    </a>
    <a>
      <svg-icon class="socials" [icon]="'twitch'"/>
    </a>
    
  
  
    </footer>
  
  
  </div>
  </div>
